# Node & Java builds
node_modules/
target/
build/
dist/

# IDE & System
.idea/
.vscode/
*.iml
*.class
*.log
.DS_Store

# Environment
.env
.env.local

# Kubernetes secrets
k8s/secret.yaml
k8s/secrets/
**/secret*.yaml

# Docker & Jenkins volumes
docker-data/
jenkins/jenkins_home/

# Misc
*.tmp
"jenkins_home/" 
