# Node & Java builds
node_modules/
target/
build/
dist/
**/.gradle/

# IDE & System
.idea/
.vscode/
*.iml
*.class
*.log
.DS_Store

# Environment
.env
.env.local

# Secrets
**/secret*.yaml

# Docker & Jenkins volumes
docker-data/
jenkins/jenkins_home/

# Misc
*.tmp
jenkins_home/
